<!DOCTYPE html>
<html lang="en">

<head>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <html>

    <head>
        <title>J.P.Morgan</title>
    </head>

    <body class="background-image">

        <body>
            <center>
                <h1><font color="white">J.P.Morgan</font></h1>
            </center>

            <border>
                <center>
                    <div class="user-input">
                        <h2><form>
                            <input type="text" name="Full Name" placeholder="Enter Your Full Name" /> <br />
                            <input type="text" name="Create Password" placeholder="Enter Password" /> <br />
                            <input type="text" name="Retype Password" placeholder="Retype Password" /> <br />
                            <input type="submit" value="Submit" />
                        </form></h2>
                    </div>
                </center>
            </border>
        </body>

    </html>
